@using Library_Management_System_DAL.Entity;
@model List<Movement> 
@{
    ViewBag.Title = "MemberBookHistory";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Üye: @ViewBag.u1</h2>
<br />
<table class="table table-danger">
    <tr>
        <th>Kitap Adı</th>
        <th>Personel</th>
        <th>Alış Tarihi</th>
        <th>İade Tarihi</th>
    </tr>
    @foreach(var x in Model)
            {
                <tr>
                    <td>@x.Book.Name</td>
                    <td>@x.Employee.Employees</td>
                    <td>@Convert.ToDateTime(x.StartDate).ToString("dd/MM/yyyy")</td>
                    <td>@Convert.ToDateTime(x.BringMemberDate).ToString("dd/MM/yyyy")</td>
                </tr>
            }
</table>

