@using Library_Management_System_DAL.Entity
@model List<Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap Sayfası</h2>
@using (Html.BeginForm("Index", "Book", FormMethod.Get))
{
    <div style="margin-bottom:15px">
        <b>Aranacak Kitap Adını Girin: &nbsp </b>
        @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </div>
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kitap Adı</th>
        <th>Kitap Yazarı</th>
        <th>Kategorisi</th>
        <th>Basım Yılı</th>
        <th>Yayınevi</th>
        <th>Sayfa</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Id</td>
            <td>@k.Name</td>
            <td>@k.Author.Name&nbsp @k.Author.Surname</td>
            <td>@k.Category.Name</td>
            <td>@k.PrintYear</td>
            <td>@k.Publisher</td>
            <td>@k.Page</td>
            <td>@k.Status</td>
            <td><a href="/Book/DeleteBook/@k.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Book/BringBook/@k.Id" class="btn btn-success">Güncelle</a></td>

        </tr>
    }
</table>
<a href="/Book/AddBook/" class="btn btn-primary">Yeni Kitap Ekle</a>